---
import Layout from '../components/Layout.astro';
---

<Layout title="Eclipse Countdown">
	<main>   
    <div id="content" class="flex flex-col h-screen bg-sunburst bg-cover bg-center">
      <div class="header">
       
        <h1 class="font-sans">UT Total Eclipse Countdown</h1>
        <div class="font-sans font-extrabold text-charcoal text-6xl" id="countdown"></div>
        
      </div>
    </div>
	</main>
</Layout>