---
import Layout from '../components/Layout.astro';
---

<Layout title="Eclipse Countdown">
	<main>   
    <div id="content">
      <div class="header">
        <h1 class="font-sans">UT Total Eclipse Countdown
        <div class="logo">
        <div id="countdown"></div>
          <img src="/images/mockup.png" alt="Total eclipse of the heart site">
        </div>
      </div>
    </div>
	</main>
</Layout>