---
import Layout from '../components/Layout.astro';

---

<Layout title="UT Total Solar Eclipse">
	<main>
    <div id="content">
      <div class="text-center">
        <div class="mx-auto w-full px-10 md:px-0 sm:w-[32rem] my-10">
          <img src="/images/UTotalSolarEclipse_1 Line_KO.svg" alt="UTotal Solar Eclipse mark">
        </div>
        <div class="mx-auto md:w-[36rem]">
          <img src="/images/eclipse-lookup.png" alt="Look Up Eclipse" class="w-full">
        </div>
        <div class="font-sans font-bold text-center all-small-caps text-white text-4xl px-2" style="font-variant-caps: all-small-caps;">Something dark is coming...</div>
        
        <div class="mx-auto w-48 my-12">
              <img src="/images/TotalEclipseHorns_Centered_KO.svg" alt="Total Eclipse of the Horns mark">
        </div>
        <div class="font-sans font-bold text-center text-white text-xl px-2">MONDAY, APRIL 8</div>
        <div class="font-sans font-bold text-center text-white text-xl px-2">University of Texas at Austin Campus</div>
        <div class="font-sans italic text-center text-white text-xl px-2 pb-6">More information coming soon</div>
        <div class="font-sans font-bold text-limestone uppercase text-xl sm:text-3xl">COUNTDOWN TO TOTALITY</div>
        <div class="font-sans font-extrabold text-limestone text-3xl sm:text-5xl lg:text-6xl" id="countdown"></div> 
      </div>
      <div class="mx-auto w-full -mt-[22vw]">
        <img src="/images/Campus_orange_glow_small.png" alt="UT campus with bevo">
      </div>
    </div>
	</main>
</Layout>
 
<style>
  .brightness {
  animation: brightness 25s infinite;
  }

  @keyframes brightness {
    0%, 100%  { filter: brightness(175%); }
    50% { filter: brightness(25%); }
  }

  @media only screen and (min-width: 1024px) {
    
    .brightness-bevo {
    animation: brightness-bevo 25s infinite;
    }

    @keyframes brightness-bevo {
      0%, 100%  { filter: brightness(105%); }
      50% { filter: brightness(75%); }
    }
  }

  #star1 {
  position: absolute;
  left: 41.2%;
  top: 35%;
  width: 43px;
  height: 41px;
  transform: translate(-50%, -50%);
  shape-outside: ellipse(50% 40%);
  clip-path: ellipse(50% 40%);
  background: #DBE6E0;

}

#planet1 {
  position: absolute;
  left: 10px;
  top: -1px;
  width: 42px;
  height: 42px;
  shape-outside: ellipse(50% 40%);
  clip-path: ellipse(50% 40%);
  background: #010101;
  background-image: url("/images/dots.png");
  background-size: contain;
  box-shadow: inset 0 0 50px rgba(150, 150, 150, 0.2);
  animation: eclipse 25s infinite linear, eclipse-planet 25s infinite;
  transform-origin: 50% 150%;
  transform: rotate(-60deg);
}
#star2 {
  position: absolute;
  left: 59.85%;
  top: 34.5%;
  width: 43px;
  height: 41px;
  transform: translate(-50%, -50%);
  shape-outside: ellipse(50% 40%);
  clip-path: ellipse(50% 40%);
  background: #DBE6E0;

}

#planet2 {
  position: absolute;
  left: 10px;
  top: -1px;
  width: 42px;
  height: 42px;
  shape-outside: ellipse(50% 40%);
  clip-path: ellipse(50% 40%);
  background: #010101;
  background-image: url("/images/dots.png");
  background-size: contain;
  box-shadow: inset 0 0 50px rgba(150, 150, 150, 0.2);
  animation: eclipse 25s infinite linear, eclipse-planet 25s infinite;
  transform-origin: 50% 150%;
  transform: rotate(-60deg);
}

@keyframes eclipse-planet {
      30%, 70%  { filter: brightness(100%); }
      50% { filter: brightness(50%); }
    }

@keyframes eclipse {
  0% {
   	transform: rotate(-77deg);
  }

  99.9% {
   	transform: rotate(47deg); 
  }

  100%{
    transform: rotate(300deg);
  }
}

  </style>