---
import Layout from '../components/Layout.astro';

---

<Layout title="UT Total Solor Eclipse">
	<main>
    <div id="content">
      <div class="text-center">
       <div class="font-bold text-charcoal uppercase sm:text-3xl text-xl pt-6">SAVE THE DATE!</div>
        <h1 class="font-sans text-white uppercase font-bold"><span class="font-extrabold">UT</span>otal Solar Eclipse</h1>
        <div class="font-bold text-center text-charcoal text-xl px-2 pb-6">Monday, April 8, 2024 • University of Texas at Austin Campus<br> More information coming soon</div>
        <div class="font-bold text-white uppercase text-xl sm:text-3xl pb-6">COUNTDOWN TO TOTALITY</div>
        <div class="font-sans font-extrabold text-charcoal text-3xl sm:text-6xl" id="countdown"></div>
       </div> 
        <div class="bevo md:-mt-24 mx-2">
          <img src="/images/Bevo.svg" alt="UT Bevo">
        </div>
    </div>
	</main>
</Layout>