---
import Layout from '../components/Layout.astro';

---

<Layout title="UT Total Solor Eclipse">
	<main>
    <div id="content">
        <h1 class="font-sans">UT Total Eclipse of the Heart Site</h1>
        <h1 class="font-serif">Save the Date!</h1>
        <h1 class="text-3xl font-bold underline mb-10">Hello world - testing!</h1>
        <h2 class="font-sans font-bold uppercase text-4xl">Countdown to Totality</h2>
        <div class="font-sans font-extrabold text-charcoal text-6xl" id="countdown"></div>
        <div class="bevo md:-mt-24 mx-2">
          <img src="/images/Bevo.svg" alt="UT Bevo">
        </div>
    </div>
	</main>
</Layout>