---
import Layout from '../components/Layout.astro';

---

<Layout title="UT Total Solar Eclipse">
	<main>
    <div id="content">
      <div class="text-center">
       <div class="font-bold text-limestone uppercase sm:text-3xl text-xl pt-6">SAVE THE DATE!</div>
        <h1 class="font-sans text-ut-turquoise-t30 uppercase font-bold px-2"><span class="font-extrabold text-white">UT</span>otal Solar Eclipse</h1>
        <div class="font-bold text-center text-white text-xl px-2 pb-6">Monday, April 8, 2024 • University of Texas at Austin Campus<br> More information coming soon</div>
        <div class="font-bold text-limestone uppercase text-xl sm:text-3xl pb-6">COUNTDOWN TO TOTALITY</div>
        <div class="font-sans font-extrabold text-white text-3xl sm:text-5xl lg:text-6xl" id="countdown"></div>
       </div> 
        <div class="bevo md:-mt-24 mx-2">
          <img src="/images/Bevo.svg" alt="Orange and tan cartoon-like Bevo with large horns facing forward wearing solar glasses with an eclipse reflected in them">
        </div>
    </div>
	</main>
</Layout>