---
import Layout from '../components/Layout.astro';

---

<Layout title="UT Total Solor Eclipse">
	<main>
    <div id="content">
       <div class="font-bold text-charcoal uppercase sm:text-3xl text-xl pt-6">SAVE THE DATE!</div>
        <h1 class="font-sans text-white uppercase font-bold"><span class="font-extrabold">UT</span>otal Solar Eclipse</h1>
        <div class="font-bold text-center text-charcoal text-xl px-2 pb-6">Monday, April 8, 2024 • University of Texas at Austin Campus<br> More information coming soon</div>
        <div class="font-bold text-white uppercase text-xl sm:text-3xl pb-6">COUNTDOWN TO TOTALITY</div>
        <div class="font-sans font-extrabold text-charcoal text-6xl" id="countdown"></div>
        <div class="bevo md:-mt-24 mx-2 relative">
            <img src="/images/Bevo.svg" alt="UT Bevo" class="brightness-bevo">
            <div class="relative">
            <img src="/images/bevo-glasses.png" alt="UT Bevo" class="brightness w-60 mx-auto -mb-10">
            <div class="overflow-hidden w-[2rem] h-[2rem]">
              <div id="star1">
                <div id="planet1">
                </div>
              </div>
            </div>
            <div class="overflow-hidden w-[2rem] h-[2rem]">
              <div id="star2">
                <div id="planet2">
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
	</main>
</Layout>

<style>
  .brightness {
  animation: brightness 25s infinite;
  }

  @keyframes brightness {
    0%, 100%  { filter: brightness(175%); }
    50% { filter: brightness(25%); }
  }

  .brightness-bevo {
  animation: brightness-bevo 25s infinite;
  }

  @keyframes brightness-bevo {
    0%, 100%  { filter: brightness(105%); }
    50% { filter: brightness(75%); }
  }

  #star1 {
  position: absolute;
  left: 41.25%;
  top: 34.75%;
  width: 41px;
  height: 41px;
  transform: translate(-50%, -50%);
  shape-outside: ellipse(50% 40%);
  clip-path: ellipse(50% 40%);
  background: #DBE6E0;

}

#planet1 {
  position: absolute;
  left: 10px;
  top: 0px;
  width: 40px;
  height: 40px;
  shape-outside: ellipse(50% 40%);
  clip-path: ellipse(50% 40%);
  background: #010101;
  background-image: url("/images/dots.png");
  background-size: contain;
  box-shadow: inset 0 0 50px rgba(150, 150, 150, 0.2);
  animation: eclipse 25s infinite linear;
  transform-origin: 50% 150%;
  transform: rotate(-60deg);
}
#star2 {
  position: absolute;
  left: 59.9%;
  top: 34.5%;
  width: 41px;
  height: 41px;
  transform: translate(-50%, -50%);
  shape-outside: ellipse(50% 40%);
  clip-path: ellipse(50% 40%);
  background: #DBE6E0;

}

#planet2 {
  position: absolute;
  left: 10px;
  top: 0px;
  width: 40px;
  height: 40px;
  shape-outside: ellipse(50% 40%);
  clip-path: ellipse(50% 40%);
  background: #010101;
  background-image: url("/images/dots.png");
  background-size: contain;
  box-shadow: inset 0 0 50px rgba(150, 150, 150, 0.2);
  animation: eclipse 25s infinite linear;
  transform-origin: 50% 150%;
  transform: rotate(-60deg);
}

@keyframes eclipse {
  0% {
   	transform: rotate(-77deg); 
  }
  
  99.9% {
   	transform: rotate(47deg); 
  }
  
  100%{
    transform: rotate(300deg);
  }
}

  </style>