 <footer class="p-4 text-white font-sans bg-burntorange">
    <div id="ut-footer-row" class="container text-center md:grid md:grid-cols-12 mx-auto">
        <div class="m-9 md:col-span-3 md:m-0 md:text-left">
            <p>© <a href="https://www.utexas.edu" class="hover:underline">The University of Texas at Austin</a> 2023</p>
        </div>
        <ul class="flex flex-col items-center md:col-span-9 md:flex-row md:justify-end">
            <li>
                <a href="https://www.utexas.edu/emergency" class="pr-2 hover:underline">Emergency Information</a>
            </li>
            <li>
                <a href="https://www.utexas.edu/site-policies" class="border-white px-2 hover:underline xl:border-l">Site Policies</a>
            </li>
            <li>
                <a href="https://it.utexas.edu/policies/web-accessibility" class="border-white px-2 hover:underline xl:border-l">Web Accessibility Policy</a>
            </li>
            <li>
                <a href="https://it.utexas.edu/policies/web-privacy" class="border-white px-2 hover:underline xl:border-l">Web Privacy Policy</a>
            </li>
        </ul>
    </div>
</footer>
