<header class="p-4 font-sans">
    <div class="container text-center md:grid md:grid-cols-12 mx-auto">
        <div class="m-9 md:col-span-12 md:m-0 md:text-left">
            <a href="https://www.utexas.edu">
                <img src="/images/RGB_university_primary.svg" class="md:mx-0 mx-auto" alt="Texas - The University of Texas at Austin">
            </a>
        </div>
    </div>
</header>